Package: com.dvntm.ytlite
Name: YTLite
Version: 6.0b2
Architecture: iphoneos-arm64
Maintainer: YTLite
Depends: mobilesubstrate | substitute | ellekit, com.ps.YouTubeHeader, preferenceloader
Description: YTLite
